.Loading_MainContainer {
    position: absolute;
    top:0;
    left: 0;
    z-index: 9999;

    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
}

.Loading_SubContainer {
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;

    width: var(--app-loading-desktop-width);
    height: var(--app-loading-desktop-height);
    background-color: var(--app-hight-contract);
    border-radius: 10px;
    padding: 20px;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
content: " ";
display: block;
width: 64px;
height: 64px;
margin: 8px;
border-radius: 50%;
border: 6px solid #000;
border-color: #000 transparent #000 transparent;
animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .Loading_SubContainer {
        width: var(--app-loading-mobile-width);
        height: var(--app-loading-mobile-height);
    }
}